<h3>All order</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Category</th>
      <th scope="col">Quantity</th>
      <th scope="col">Unit Price</th>
      <th scope="col">All Price</th>
      <th scope="col">Owner</th>

    </tr>
  </thead>
  <tbody>

    {{#each orders}}
    <tr>
      <td>{{this.toy.name}}</td>
      <td>{{this.category.name}}</td>
      <td>{{this.quantity}}</td>
      <td>{{this.toy.price}}</td>
      <td>{{this.price}}</td>
      <td>{{this.user}}</td>
      <td> <a href="/toys/delete1order/{{this._id}}"><input type="button" class="btn btn-primary" value="Delete"></a></td>
    </tr>
   {{/each}}
   <td><h4>All Order</h4></td>
   <td></td>
   <td></td>
   <td></td>
   <td><h4>{{totalPrice}}</h4></td>
  </tbody>
</table>

<a href="/"><input type="button" class="btn btn-primary" value="Back to main page"></a>